<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ci</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>child.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShengaoServlet</servlet-name>
    <servlet-class>child.ShengaoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BmiServlet</servlet-name>
    <servlet-class>BmiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HealRateServlet</servlet-name>
    <servlet-class>child.HealRateServlet</servlet-class>
  </servlet>


 



  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShengaoServlet</servlet-name>
    <url-pattern>/ShengaoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BmiServlet</servlet-name>
    <url-pattern>/BmiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HealRateServlet</servlet-name>
    <url-pattern>/HealRateServlet</url-pattern>
  </servlet-mapping>

 
</web-app>